/* variabel
warna kuning : #facc15 (kondisi awal), #eab308 (kondisi hover);
warna dark/gelap : #1e293b (warna navbar), #334155 (warna body)
warna putih/terang : #eaeaea, 
warna : #4f46e5 (tipe komik manhwa), #cbd5e1 (warna tulisan chapter), #94a3b8 (warna tanggal rilis); */

/* variabel css */
:root {
    --color-black: black;
    /*warna hitam basic*/
    --nav-bg: #1e293b;
    /*warna navbar*/
    --pagination-bg: #1e293b;
    --body-bg: #334155;
    /*warna body*/
    --page-hover: #0f172a;
    /*hover pagination*/
    --btn-bg: #facc15;
    /*warna kuning kondisi awal*/
    --btn-hover: #eab308;
    /*warna kuning kondisi hover*/
    --color-1: #eaeaea;
    --color-2: #cbd5e1;
    /*warna tulisan chapter*/
    --color-3: #94a3b8;
    /*warna tanggal rilis*/
    --color-indigo-1: #4f46e5;
    /*tipe komik manhwa*/
    --color-pagination: #eaeaea;
    --color-popular: #eaeaea;
    --color-popular-2: #dcdcdc;
    --color-hr-popular: #eaeaea;
    --color-footer: #eaeaea;
    --bg-scroll-to-top: #1e293b;
    --color-scroll-to-top: #eaeaea;
}


/* css reset */
html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg);
    /* background-color: #dcdcdc; */
    font-family: Inter, Arial;
}

@font-face {
    font-family: Inter;
    src: url(/font/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

/* navbar */
nav {
    display: flex;
    /* background-color: #1e293b; */
    background-color: var(--nav-bg);
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding: 10px;
}

nav h2 a {
    color: #eaeaea;
    text-decoration: none;
}

.btn-nav {
    /* background-color: #facc15; */
    background-color: var(--btn-bg);
    padding: 8px 16px;
    cursor: pointer;
    border: none;
}

/* dropdown */
.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    /* background-color: #facc15; */
    background-color: var(--btn-bg);
    min-width: 98px;
    box-shadow: 0 5px 5px #1e293b;
}

.dropdown a {
    display: block;
    /* color: black; */
    color: var(--color-black);
    text-decoration: none;
    padding: 4px 6px;
}

.dropdown a:hover {
    /* background-color: #eab308; */
    background-color: var(--btn-hover);
}

.dropdown-container:hover .dropdown {
    display: block;
}

.dropdown-container:hover .btn-nav {
    /* background-color: #eab308; */
    background-color: var(--btn-hover);
}

/* new update */
.container-new-update {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    max-width: 65vw;
    margin: 0 auto;
    margin-bottom: 70px;
}

.card {
    border-radius: 8px;
    width: 200px;
    text-align: left;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.card img:hover {
    transform: scale(1.1);
}

.card-content {
    padding: 0px;
    /* color: #eaeaea; */
    color: var(--color-1);
    text-transform: capitalize;
}

.card-content h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.card-content p {
    font-size: 14px;
    margin: 5px 0;
}

.card-content .chapter-date {
    display: flex;
    justify-content: space-between;
}

.komik-type {
    position: absolute;
    /* background-color: #4f46e5; */
    background-color: var(--color-indigo-1);
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    top: 10px;
    right: 10px;
}

.card-wrapper {
    position: relative;
}

.card {
    display: inline-block;
}

.title-new-update {
    text-align: center;
    /* color: #eaeaea; */
    color: var(--color-1);
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.chapter-date p:first-of-type {
    /* color: #cbd5e1; */
    color: var(--color-2);
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}

.chapter-date p:last-of-type {
    color: #94a3b8;
    font-size: 12px;
}

hr {
    border: none;
    border-top: 5px solid var(--color-1);
    width: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* gallery content */
.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-container .title-gallery {
    text-align: center;
    padding-bottom: 10px;
    /* color: #eaeaea; */
    color: var(--color-1);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.gallery-wrapper {
    position: relative;
}

.gallery-item {
    /* background-color: #475569; */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.gallery-item h2 {
    margin: 10px 0;
    /* color: #eaeaea; */
    color: var(--color-1);
}

.gallery-item .info {
    text-align: left;
    padding: 5px;
    padding-top: 0;
    /* color: #cbd5e1; */
    color: var(--color-2);
    font-size: 12px;
    font-weight: bold;
}

.info p {
    margin: 3px;
}

/* pagination */
.ul-pagination {
    display: flex;
    justify-content: center;
    /* color: #eaeaea; */
    color: var(--color-1);
}

.li-pagination {
    /* background-color: #1e293b; */
    /* display: inline-block; */
    background-color: var(--pagination-bg);
    margin: 5px;
    padding: 4px 8px;
    list-style-type: none;
}

.ul-pagination a {
    /* color: #eaeaea; */
    color: var(--color-pagination);
    padding: 4px 4px;
    text-decoration: none;
}

.li-pagination:hover {
    /* background-color: #0f172a; */
    background-color: var(--page-hover);
}

.active-page {
    /* background-color: #facc15; */
    background-color: var(--btn-bg);
}

.active-page a {
    /* color: black; */
    color: var(--color-black);
}


.active-page:hover {
    /* background-color: #eab308; */
    background-color: var(--btn-hover);
}


/* series popular */
.popular-container {
    /* background-color: #1e293b; */
    background-color: var(--nav-bg);
    max-width: 1200px;
    margin: 70px auto;
    padding: 20px;
    border-radius: 10px;
}

.popular-container h2 {
    text-align: center;
    /* color: #eaeaea; */
    color: var(--color-popular);
    padding-bottom: 10px;
}

.popular-container hr {
    border-color: var(--color-hr-popular);
}

.popular-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.popular-item {
    display: flex;
    justify-content: start;
    gap: 10px;
    border-bottom: 1px solid var(--color-popular);
    padding: 20px;
}

.ranking-popular {
    /* color: #eaeaea; */
    color: var(--color-popular);
    font-size: 20px;
    font-weight: bold;
    width: 30px;
    height: auto;
}

.thumbnail-popular {
    width: 60px;
    height: 80px;
    border-radius: 5px;
}

.info-popular h2 {
    text-align: left;
}

.info-popular p {
    /* color: #cbd5e1; */
    color: var(--color-popular-2);
}

.left-popular,
.right-popular {
    padding: 20px;
    width: 575px;
}

/* footer */
footer {
    width: 100%;
    /* background-color: #1e293b; */
    background-color: var(--nav-bg);
    /* color: #eaeaea; */
    color: var(--color-footer);
    text-align: center;
    padding: 15px;
    text-transform: capitalize;
}

.theme-switch {
    /* background-color: var(); */
    /* background-image: linear-gradient(to right, black, white); */
    /* background-color: white; */
    background-color: transparent;
    padding: 6px 6px;
    border: none;
    text-shadow: -1px 1px 1px rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    color: #facc15;
    font-size: 18px;
    border-radius: 50%;
}

.theme-switch:hover {
    /* background-image: linear-gradient(to right, white, black); */
    /* background-color: white; */
    color: #eab308;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}

/* scroll to top */
#scrollToTopId {
    position: fixed;
    right: 25px;
    bottom: 60px;
    background-color: var(--bg-scroll-to-top);
    width: 40px;
    height: 40px;
    color: var(--color-scroll-to-top);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    /* display: none; */
}

#scrollToTopId:hover {
    background-color: var(--page-hover);
}

/* light mode */
.light-mode {
    --nav-bg: #64748b;
    --body-bg: #eaeaea;
    --pagination-bg: #64748b;
    --page-hover: #475569;
    --btn-bg: #facc15;
    --btn-hover: #eab308;
    --color-1: #1e293b;
    --color-2: #0f172a;
    --color-3: #334155;
    --bg-scroll-to-top: #64748b;
    --color-scroll-to-top: #eaeaea;
}

/* description home */
.container-description {
    /* background-color: var(--nav-bg); */
    /* background-color: red; */
    color: #eaeaea;
    margin: 50px auto;
    width: 1200px;
    padding: 20px;
    border-radius: 10px;
}

.container-description h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 20px;
}

.description {
    /* width: 400px; */
}

.tab-button {
    background-color: var(--btn-bg);
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;

}

.tab-button.active {
    background-color: var(--btn-hover);
}

.info-description {
    background-color: var(--nav-bg);
    padding: 20px;
    border-radius: 10px;
    min-height: 300px;
}

.synopsis-description {
    background-color: var(--nav-bg);
    padding: 20px;
    border-radius: 10px;
    min-height: 300px;
}


.info-description p {
    margin: 10px 0;
}


.content-description {
    display: flex;
    gap: 20px;
}

.img-description img {
    width: 250px;
    height: auto;
    border-radius: 10px;

}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* chapter list */
.chapter-container {
    background-color: var(--nav-bg);
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 8px;
    padding: 20px;
}

.social-button {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    
}

.social-button button {
    border: none;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    text-transform: capitalize;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #1da1f2;
}

.discord {
    background-color: #5964f2;
}

.telegram {
    background-color: #0088cc;
}

.facebook:hover {
    background-color: #2B446A; /* Perkiraan 10% lebih gelap dari #3b5998 */
}

.twitter:hover {
    background-color: #1596E2; /* Perkiraan 10% lebih gelap dari #1da1f2 */
}

.discord:hover {
    background-color: #4B54D2; /* Perkiraan 10% lebih gelap dari #5964f2 */
}

.telegram:hover {
    background-color: #0077AA; /* Perkiraan 10% lebih gelap dari #0088cc */
}

.search-chapter {
    width: 100%;
    /* padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px; */

    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.search-chapter:focus {
    /* background-color: red; */
    border: none;
    outline: none;
}

.chapter-list {
    max-height: 230px; /* Adjust height for 5 chapters */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chapter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--nav-bg);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, .3);
    color: #eaeaea;
}

.chapter-item:last-child {
    margin-bottom: 0;
}









@media screen and (max-width: 476px) {
    .container-new-update {
        max-width: 85vw;
    }

    .card {
        width: 150px;

    }

    .card-content h2 {
        font-size: 20px;
    }

    .chapter-date {
        text-transform: capitalize;
    }

    .gallery-container {
        padding: 10px;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    hr {
        margin-bottom: 20px;
    }

    .popular-grid {
        grid-template-columns: 1fr;
    }

    .left-popular,
    .right-popular {
        width: 100%;
        padding: 0;
    }

    #scrollToTopId {
        right: 10px;
    }
}